<launch>

  <!--- Run Provide Map -->
  <include file="$(find students_gmapping)/launch/provide_map.launch" />

  <!--- Run AMCL -->
  <!--->include file="$(find students_package)/launch/amcl.launch" /-->

  <!--- Run Move Base -->
  <include file="$(find students_move_base_launcher)/launch/move_base.launch" />

</launch>